html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: black;
    color: yellowgreen;
}

.flex-container{
 height: 400px;
  padding: 0px;
  background: plum;
  border: 4px solid red;
  display: flex;
  width: auto;
}


.item{
  flex-basis: 100%;
  border: 4px solid darkslategray;
  background: skyblue;
  flex: 1;
}

.flex-container_2{
  height: 75px;
  padding: 0px;
  background: plum;
  border: 4px solid red;
  display: flex;
  width: auto;
  flex-wrap: nowrap;
}

.rookiebox, .championbox, .franchisebox, .seasonsbox,
.futurepicksbox, .recordbookbox{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    border: 10px solid greenyellow ;
    margin: 0px, 5px;
    text-align: left;
    font-size: 30pt;
    font-weight: bold;
    color: yellowgreen;
    text-align: center;
    height: auto;

}

.championbox{
    background-image: url(./img/pupschampp.png);
}

.championbox:hover, .rookiebox:hover, .franchisebox:hover, 
.seasonsbox:hover, .futurepicksbox:hover, .recordbookbox:hover{
    transform: scale(1.3)
}

.rookiebox{
    background-image: url(./img/chaserookie.jpg);
    
}

.franchisebox{
    background-image: url(./img/franchise.jpg);
    
}

.seasonsbox{
    background-image: url(./img/seasons.jpeg);
}

.futurepicksbox{
    background-image: url(./img/nfldraft.png);
}

.recordbookbox{
    background-image: url(./img/record.png);
}


body h1, h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body h1{
    font-size: 50pt;
    margin-bottom: 5px;
}


.rookieboxfont, .championboxfont, .franchiseboxfont,
.seasonsboxfont, .futurepicksboxfont, .recordsboxfont{
    background-color: black;
    flex-basis: 100%;
    color: yellowgreen;
    font-weight: bold;
    text-align: center;
    flex: 1;
}



