html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: black;
    color: yellowgreen;
}

body h1{
    font-size: 50pt;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.container{
    width: 90%
    margin: 0 auto;
    max-width: 1400px;
}

.superbowl{
    background-image: url("../img/superbowl.jpg");
    width: 1200px;
    height: 400px;
    float: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    border: 10px solid greenyellow ;
    margin: 0px, 5px;
}

.franchise{
    width: 200px;
    height: 200px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    margin: 0px, 5px;
}

.franchise1{
    background-image: url("../img/classics.jpeg");
}


.trophy{
    background-image: url("../img/trophy.jpg");
    width: 200px;
    height: 200px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    margin: 0px, 5px;
    text-align: center;

}
.breakup{
    background-color: black;
    width: 200px;
    height: 200px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    margin: 0px, 5px;

}

.franchise2{
    background-image: url("../img/kings.png");
}

.franchise3{
    background-image: url("../img/pups.png");
}

.franchise4{
    background-image: url("../img/gators.png");
}

.franchise5{
    background-image: url("../img/pirates.png");
}

.franchise6{
    background-image: url("../img/falcons.png");
}

.franchise7{
    background-image: url("../img/nuts.jpg");
}

.franchise8{
    background-image: url("../img/wdogz.png");
}

.franchise9{
    background-image: url("../img/panthers.png");
}

