html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: black;
    color: yellowgreen;
}

.container{
    width: 90%
    margin: 0 auto;
    max-width: 1400px;
}

.gffl_championbox, .gffl_bowlbox{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    height: 400px;
    width: 600px;
    border: 10px solid greenyellow ;
    margin: 0px, 5px;
    float: left;
}

.top_qb, .top_hb, .top_wr, .top_te{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    height: 400px;
    width: 300px;
    border: 10px solid greenyellow ;
    margin: 0px, 5px;
    float: left;
}

a{
    font-size: 20pt;
    color: yellowgreen;
}


.gffl_championbox:hover, .gffl_bowlbox:hover, .top_qb:hover, 
.top_hb:hover, .top_wr:hover, .top_te:hover{
    transform: scale(1.3)
}

/*Fill in the info for each year here all other styling is same */

.gffl_champ_2021{
    background-image: url(../img/GFFLBOWL17Champ.png);
}

.gffl_bowl_2021{
    background-image: url(../img/GFFLBOWL17.png);
    
}

.top_qb_2021{
    background-image: url(../img/jallen.jpeg);
    background-size: cover;
    
}

.top_hb_2021{
    background-image: url(../img/jtaylor.jpg);
    background-size: cover;
    
}

.top_wr_2021{
    background-image: url(../img/kupp.jpg);
    background-size: cover;

}

.top_te_2021{
    background-image: url(../img/mandrews.jpeg);
    background-size: cover;

}

.gffl_champ_2005{
    background-image: url(../img/GFFLBOWLICHAMPS.PNG);
}

.gffl_bowl_2005{
    background-image: url(../img/GFFLBOWL1.PNG);
    
}

.top_qb_2005{
    background-image: url(../img/palmer.jpg);
    background-size: cover;
    
}

.top_hb_2005{
    background-image: url(../img/salexander.jpg);
    background-size: cover;
    
}

.top_wr_2005{
    background-image: url(../img/ssmith.jpg);
    background-size: cover;

}

.top_te_2005{
    background-image: url(../img/gates.jpg);
    background-size: cover;

}

.gffl_champ_2006{
    background-image: url(../img/GFFLBOWLIICHAMPS.PNG);
}

.gffl_bowl_2006{
    background-image: url(../img/GFFLBOWL2.PNG);
    
}

.top_qb_2006{
    background-image: url(../img/manningind.jpg);
    background-size: cover;
    
}

.top_hb_2006{
    background-image: url(../img/tomlinson.jpg);
    background-size: cover;
    
}

.top_wr_2006{
    background-image: url(../img/harrison.jpg);
    background-size: cover;

}

.top_te_2006{
    background-image: url(../img/gates.jpg);
    background-size: cover;

}

.gffl_champ_2007{
    background-image: url(../img/GFFLBOWLIIICHAMPS.PNG);
}

.gffl_bowl_2007{
    background-image: url(../img/GFFLBOWL3.PNG);
    
}

.top_qb_2007{
    background-image: url(../img/brady.jpg);
    background-size: cover;
    
}

.top_hb_2007{
    background-image: url(../img/westbrook.jpg);
    background-size: cover;
    
}

.top_wr_2007{
    background-image: url(../img/rmoss.jpg);
    background-size: cover;

}

.top_te_2007{
    background-image: url(../img/jwitten.jpg);
    background-size: cover;

}

.gffl_champ_2008{
    background-image: url(../img/GFFLBOWLIVChamps.PNG);
}

.gffl_bowl_2008{
    background-image: url(../img/GFFLBOWLIV.PNG);
    
}

.top_qb_2008{
    background-image: url(../img/brees.jpg);
    background-size: cover;
    
}

.top_hb_2008{
    background-image: url(../img/dwilliams.jpg);
    background-size: cover;
    
}

.top_wr_2008{
    background-image: url(../img/ajohnson.jpg);
    background-size: cover;

}

.top_te_2008{
    background-image: url(../img/gonzalez.jpg);
    background-size: cover;

}

.gffl_champ_2009{
    background-image: url(../img/GFFLBOWLVChamps.PNG);
}

.gffl_bowl_2009{
    background-image: url(../img/GFFLBOWL5.PNG);
    
}

.top_qb_2009{
    background-image: url(../img/rodgers.jpg);
    background-size: cover;
    
}

.top_hb_2009{
    background-image: url(../img/cj2k.jpg);
    background-size: cover;
    
}

.top_wr_2009{
    background-image: url(../img/ajohnson.jpg);
    background-size: cover;

}

.top_te_2009{
    background-image: url(../img/clark.jpg);
    background-size: cover;

}

.gffl_champ_2010{
    background-image: url(../img/GFFLBOWLVI.PNG);
}

.gffl_bowl_2010{
    background-image: url(../img/GFFLBOWL6.PNG);
    
}

.top_qb_2010{
    background-image: url(../img/vick.jpg);
    background-size: cover;
    
}

.top_hb_2010{
    background-image: url(../img/foster.jpg);
    background-size: cover;
    
}

.top_wr_2010{
    background-image: url(../img/rwhite.jpg);
    background-size: cover;

}

.top_te_2010{
    background-image: url(../img/jwitten.jpg);
    background-size: cover;

}

.gffl_champ_2011{
    background-image: url(../img/GFFLBOWLVIICHAMPS.PNG);
}

.gffl_bowl_2011{
    background-image: url(../img/GFFLBOWLVII.PNG);
    
}

.top_qb_2011{
    background-image: url(../img/rodgers.jpg);
    background-size: cover;
    
}

.top_hb_2011{
    background-image: url(../img/rrice.jpg);
    background-size: cover;
    
}

.top_wr_2011{
    background-image: url(../img/megatron.jpg);
    background-size: cover;

}

.top_te_2011{
    background-image: url(../img/gronk.jpg);
    background-size: cover;

}

.gffl_champ_2012{
    background-image: url(../img/GFFLBOWLVIIIChamps.PNG);
}

.gffl_bowl_2012{
    background-image: url(../img/GFFLBOWLVIII.jpg);
    
}

.top_qb_2012{
    background-image: url(../img/brees.jpg);
    background-size: cover;
    
}

.top_hb_2012{
    background-image: url(../img/Peterson.jpg);
    background-size: cover;
    
}

.top_wr_2012{
    background-image: url(../img/megatron.jpg);
    background-size: cover;

}

.top_te_2012{
    background-image: url(../img/graham.jpg);
    background-size: cover;

}

.gffl_champ_2013{
    background-image: url(../img/GFFL\ BOWL\ IX\ CHAMPS.PNG);
}

.gffl_bowl_2013{
    background-image: url(../img/gfflbowl9.PNG);
    
}

.top_qb_2013{
    background-image: url(../img/manning.jpg);
    background-size: cover;
    
}

.top_hb_2013{
    background-image: url(../img/charles.jpeg);
    background-size: cover;
    
}

.top_wr_2013{
    background-image: url(../img/DT.jpg);
    background-size: cover;

}

.top_te_2013{
    background-image: url(../img/graham.jpg);
    background-size: cover;

}

.gffl_champ_2014{
    background-image: url(../img/GFFLBOWLXCHAMPION.PNG);
}

.gffl_bowl_2014{
    background-image: url(../img/GFFLBOWLX.PNG);
    
}

.top_qb_2014{
    background-image: url(../img/rodgers.jpg);
    background-size: cover;
    
}

.top_hb_2014{
    background-image: url(../img/lbell.jpg);
    background-size: cover;
    
}

.top_wr_2014{
    background-image: url(../img/abrown.jpg);
    background-size: cover;

}

.top_te_2014{
    background-image: url(../img/gronk.jpg);
    background-size: cover;

}

.gffl_champ_2015{
    background-image: url(../img/GFFLBOWL11A.JPG);
}

.gffl_bowl_2015{
    background-image: url(../img/GFFLBOWL11.PNG);
    
}

.top_qb_2015{
    background-image: url(../img/newton2.jpeg);
    background-size: cover;
    
}

.top_hb_2015{
    background-image: url(../img/freeman.jpeg);
    background-size: cover;
    
}

.top_wr_2015{
    background-image: url(../img/abrown.jpg);
    background-size: cover;

}

.top_te_2015{
    background-image: url(../img/gronk.jpg);
    background-size: cover;

}

.gffl_champ_2016{
    background-image: url(../img/GFFLBOwl12Champ.JPG);
}

.gffl_bowl_2016{
    background-image: url(../img/GFFLBOWLXII.JPG);
    
}

.top_qb_2016{
    background-image: url(../img/rodgers.jpg);
    background-size: cover;
    
}

.top_hb_2016{
    background-image: url(../img/djohnson.jpg);
    background-size: cover;
    
}

.top_wr_2016{
    background-image: url(../img/abrown.jpg);
    background-size: cover;

}

.top_te_2016{
    background-image: url(../img/kelce.jpeg);
    background-size: cover;

}

.gffl_champ_2017{
    background-image: url(../img/GFFLBowl13Champ.JPG);
}

.gffl_bowl_2017{
    background-image: url(../img/GFFLBowl13.JPG);
    
}

.top_qb_2017{
    background-image: url(../img/russ.jpg);
    background-size: cover;
    
}

.top_hb_2017{
    background-image: url(../img/gurley.jpeg);
    background-size: cover;
    
}

.top_wr_2017{
    background-image: url(../img/abrown.jpg);
    background-size: cover;

}

.top_te_2017{
    background-image: url(../img/kelce.jpeg);
    background-size: cover;

}

.gffl_champ_2018{
    background-image: url(../img/GFFLBOWL14CHAMP.PNG);
}

.gffl_bowl_2018{
    background-image: url(../img/GFFLBOWL14.PNG);
    
}

.top_qb_2018{
    background-image: url(../img/mahomes.jpg);
    background-size: cover;
    
}

.top_hb_2018{
    background-image: url(../img/barkley.jpg);
    background-size: cover;
    
}

.top_wr_2018{
    background-image: url(../img/tyreek.jpg);
    background-size: cover;

}

.top_te_2018{
    background-image: url(../img/kelce.jpeg);
    background-size: cover;

}

.gffl_champ_2019{
    background-image: url(../img/GFFLBOWLXVChamp.PNG);
}

.gffl_bowl_2019{
    background-image: url(../img/GFFLBOWLXV.PNG);
    
}

.top_qb_2019{
    background-image: url(../img/ljaxx.jpg);
    background-size: cover;
    
}

.top_hb_2019{
    background-image: url(../img/cmc.jpg);
    background-size: cover;
    
}

.top_wr_2019{
    background-image: url(../img/mt.jpg);
    background-size: cover;

}

.top_te_2019{
    background-image: url(../img/kelce.jpeg);
    background-size: cover;

}

.gffl_champ_2020{
    background-image: url(../img/GFFLBOWL16Champ.JPG);
}

.gffl_bowl_2020{
    background-image: url(../img/GFFLBOWL16.JPG);
    
}

.top_qb_2020{
    background-image: url(../img/jallen.jpeg);
    background-size: cover;
    
}

.top_hb_2020{
    background-image: url(../img/kamara.jpg);
    background-size: cover;
    
}

.top_wr_2020{
    background-image: url(../img/adams.jpg);
    background-size: cover;

}

.top_te_2020{
    background-image: url(../img/kelce.jpeg);
    background-size: cover;

}



/*End of year by year images */

body h1, h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body h1{
    font-size: 50pt;
    margin-bottom: 5px;
}


.gffl_championboxfont, .gffl_bowlboxfont{
    background-color: black;
    height: 55px;
    width: 600px;
    color: yellowgreen;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    float: left;
}

.top_qbfont, 
.top_hbfont, .top_wrfont, .top_tefont{
    background-color: black;
    height: 55px;
    width: 300px;
    color: yellowgreen;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    float: left;

}

.SeasonOverview,{
    margin-top: 10px;
    height: auto;
    width: 600px;
    background-color: black;
    float: left;
    text-align: left;
    font-size: 20pt;
}

.SeasonOverviewPar{
    margin-top: 10px;
    height: auto;
    width: 600px;
    background-color: black;
    float: right;
    text-align: left;
    font-size: 20pt;
}
