html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: black;
    color: yellowgreen;
}

.container{
    width: 90%
    margin: 0 auto;
    max-width: 1400px;
}

.gffl_championbox, .gffl_bowlbox{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    height: 400px;
    width: 600px;
    border: 10px solid greenyellow ;
    margin: 0px, 5px;
    float: left;
}

.top_qb, .top_hb, .top_wr, .top_te{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    height: 400px;
    width: 300px;
    border: 10px solid greenyellow ;
    margin: 0px, 5px;
    float: left;
}

a{
    font-size: 20pt;
    color: yellowgreen;
}


.gffl_championbox:hover, .gffl_bowlbox:hover, .top_qb:hover, 
.top_hb:hover, .top_wr:hover, .top_te:hover{
    transform: scale(1.3)
}

/*Fill in the info for each year here all other styling is same */

.gffl_champ_2021{
    background-image: url(../img/GFFLBOWL17Champ.png);
}

.gffl_bowl_2021{
    background-image: url(../img/GFFLBOWL17.png);
    
}

.top_qb_2021{
    background-image: url(../img/jallen.jpeg);
    background-size: cover;
    
}

.top_hb_2021{
    background-image: url(../img/jtaylor.jpg);
    background-size: cover;
    
}

.top_wr_2021{
    background-image: url(../img/kupp.jpg);
    background-size: cover;

}

.top_te_2021{
    background-image: url(../img/mandrews.jpeg);
    background-size: cover;

}

.gffl_champ_2005{
    background-image: url(../img/GFFLBOWLICHAMPS.PNG);
}

.gffl_bowl_2005{
    background-image: url(../img/GFFLBOWL1.PNG);
    
}

.top_qb_2005{
    background-image: url(../img/palmer.jpg);
    background-size: cover;
    
}

.top_hb_2005{
    background-image: url(../img/salexander.jpg);
    background-size: cover;
    
}

.top_wr_2005{
    background-image: url(../img/ssmith.jpg);
    background-size: cover;

}

.top_te_2005{
    background-image: url(../img/gates.jpg);
    background-size: cover;

}

.gffl_champ_2006{
    background-image: url(../img/GFFLBOWLIICHAMPS.PNG);
}

.gffl_bowl_2006{
    background-image: url(../img/GFFLBOWL2.PNG);
    
}

.top_qb_2006{
    background-image: url(../img/manningind.jpg);
    background-size: cover;
    
}

.top_hb_2006{
    background-image: url(../img/tomlinson.jpg);
    background-size: cover;
    
}

.top_wr_2006{
    background-image: url(../img/harrison.jpg);
    background-size: cover;

}

.top_te_2006{
    background-image: url(../img/gates.jpg);
    background-size: cover;

}

.gffl_champ_2007{
    background-image: url(../img/GFFLBOWLIIICHAMPS.PNG);
}

.gffl_bowl_2007{
    background-image: url(../img/GFFLBOWL3.PNG);
    
}

.top_qb_2007{
    background-image: url(../img/brady.jpg);
    background-size: cover;
    
}

.top_hb_2007{
    background-image: url(../img/westbrook.jpg);
    background-size: cover;
    
}

.top_wr_2007{
    background-image: url(../img/rmoss.jpg);
    background-size: cover;

}

.top_te_2007{
    background-image: url(../img/jwitten.jpg);
    background-size: cover;

}

.gffl_champ_2008{
    background-image: url(../img/GFFLBOWLIVChamps.PNG);
}

.gffl_bowl_2008{
    background-image: url(../img/GFFLBOWLIV.PNG);
    
}

.top_qb_2008{
    background-image: url(../img/brees.jpg);
    background-size: cover;
    
}

.top_hb_2008{
    background-image: url(../img/dwilliams.jpg);
    background-size: cover;
    
}

.top_wr_2008{
    background-image: url(../img/ajohnson.jpg);
    background-size: cover;

}

.top_te_2008{
    background-image: url(../img/gonzalez.jpg);
    background-size: cover;

}

.gffl_champ_2009{
    background-image: url(../img/GFFLBOWLVChamps.PNG);
}

.gffl_bowl_2009{
    background-image: url(../img/GFFLBOWL5.PNG);
    
}

.top_qb_2009{
    background-image: url(../img/rodgers.jpg);
    background-size: cover;
    
}

.top_hb_2009{
    background-image: url(../img/cj2k.jpg);
    background-size: cover;
    
}

.top_wr_2009{
    background-image: url(../img/ajohnson.jpg);
    background-size: cover;

}

.top_te_2009{
    background-image: url(../img/clark.jpg);
    background-size: cover;

}

.gffl_champ_2010{
    background-image: url(../img/GFFLBOWLVI.PNG);
}

.gffl_bowl_2010{
    background-image: url(../img/GFFLBOWL6.PNG);
    
}

.top_qb_2010{
    background-image: url(../img/vick.jpg);
    background-size: cover;
    
}

.top_hb_2010{
    background-image: url(../img/foster.jpg);
    background-size: cover;
    
}

.top_wr_2010{
    background-image: url(../img/rwhite.jpg);
    background-size: cover;

}

.top_te_2010{
    background-image: url(../img/jwitten.jpg);
    background-size: cover;

}



/*End of year by year images */

body h1, h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body h1{
    font-size: 50pt;
    margin-bottom: 5px;
}


.gffl_championboxfont, .gffl_bowlboxfont{
    background-color: black;
    height: 55px;
    width: 600px;
    color: yellowgreen;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    float: left;
}

.top_qbfont, 
.top_hbfont, .top_wrfont, .top_tefont{
    background-color: black;
    height: 55px;
    width: 300px;
    color: yellowgreen;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    float: left;

}

.SeasonOverview,{
    margin-top: 10px;
    height: auto;
    width: 600px;
    background-color: black;
    float: left;
    text-align: left;
    font-size: 20pt;
}

.SeasonOverviewPar{
    margin-top: 10px;
    height: auto;
    width: 600px;
    background-color: black;
    float: right;
    text-align: left;
    font-size: 20pt;
}
