html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: black;
    color: yellowgreen;
}

.container{
    width: 80%
    margin: 0 auto;
    max-width: 1980px;
}

.rookbox2021, .rookbox2020, .rookbox2019, 
.rookbox2018, .rookbox2017, .rookbox2016, .rookbox2015{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    height: 400px;
    width: 500px;
    border: 10px solid greenyellow ;
    margin: 0px, 5px;
    float: left;
    text-align: left;
    font-size: 30pt;
    font-weight: bold;
    color: yellowgreen;
}

.rookbox2021{
    background-image: url("../img/chaserookie.jpg");
}

.rookbox2020{
    background-image: url("../img/jtrookie.jpg");
}

.rookbox2019{
    background-image: url("../img/jacobsrookie.jpeg");
}

.rookbox2018{
    background-image: url("../img/barkleyrookie.jpg");
}

.rookbox2017{
    background-image: url("../img/fournette.jpg");
}

.rookbox2016{
    background-image: url("../img/elliott.jpg");
}

.rookbox2015{
    background-image: url("../img/gurleyrookie.jpg");
}

.rookbox2021:hover, .rookbox2020:hover, .rookbox2019:hover,
.rookbox2018:hover, .rookbox2017:hover, .rookbox2016:hover, 
.rookbox2015:hover{
    transform: scale(1.3)
}

.rookiebox{
    background-image: url(./img/chaserookie.jpg);
    
}

.franchisebox{
    background-image: url(./img/franchise.jpg);
    
}


body h1, h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body h1{
    font-size: 50pt;
    margin-bottom: 5px;
}


.rookieboxfont, .championboxfont, .franchiseboxfont{
    background-color: black;
    height: 55px;
    width: 500px;
    color: yellowgreen;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    float: left;
}